/* header */

header {
    background-color: rgba(0, 0, 0, 0.055);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 130px;
    padding: 5px 50px;
}

div.main-search {
    display: flex;
    margin-top: 35px;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 50px;
    margin-right: 30px;
}

form#nav-main-search {
    display: flex;
    width: inherit;
    transition: none;
    transform: translateY(0);
    padding: 2px 8px;
    border: 2px solid #333;
    border-radius: 20px;
    height: 40px;
    min-width: 80px;
}


/* Regras do Componente box-noticia */

.box-noticia {
    margin: 10px 0px;
    overflow: auto;
    color: dimgray;
    clear: both;
}

.box-noticia img {
    float: left;
    margin-right: 10px;
    width: 180px;
}

.box-noticia .titulo {
    font-weight: 700;
}

.box-noticia .creditos {
    color: red
}

div.container {
    display: grid;
}


/* Side */

aside {
    background-color: rgba(5, 0, 0, 0.74);
}